%div.warning
  - if flash[:letter].present? && !@game.win? && !@game.lose?
    = flash[:letter]
  - elsif notice.present?
    = notice
  - else
    - if @game.lose?
      Você perdeu o jogo
    - if @game.win?
      Você ganhou

= render 'stickman'

.hold-letters
  - if @game.win? || @game.lose?
    = render 'end_game'
  - else
    = render 'word'

%p Escolha uma letra:

- @game.guesses.each do |letter|
  = button_letter @game, letter

= form_for @game do
  = text_field_tag :letter, nil, placeholder: 'Chutar palavra', class: 'try', autocomplete: 'off'

= link_to 'Voltar', root_path
