<p id="notice"><%= notice %></p>

<div style="width: 50px; padding: 20px; height: 150px; float: left; margin-right: 10px; margin-bottom: 200px;">
  <svg width="50" height="150" xmlns="http://www.w3.org/2000/svg" style="vector-effect: non-scaling-stroke;">
   <g>
   <% if @game.stage > 0 %>
    <ellipse
      id="face"
      ry="24"
      rx="24"
      cy="25"
      cx="25"
      stroke="#000"
      stroke-width="1.5"
      fill="#fff"/>
    <% end %>

   <% if @game.stage > 1 %>
    <line
      id="body"
      y2="49"
      x2="25"
      y1="99"
      x1="25"
      stroke="#000"
      stroke-width="1.5"
      fill="none" />
    <% end %>

   <% if @game.stage > 2 %>
    <line
      id="arm_rigth"
      y2="91"
      x2="1"
      y1="50"
      x1="25"
      stroke="#000"
      stroke-width="1.5"
      fill="none"/>
    <% end %>

   <% if @game.stage > 3 %>
    <line
      id="arm_left"
      y2="91"
      x2="49"
      y1="50"
      x1="25"
      stroke-width="1.5"
      stroke="#000"
      fill="none"/>
    <% end %>

   <% if @game.stage > 4 %>
    <line
      id="leg_right"
      y2="150"
      x2="5"
      y1="99"
      x1="25"
      stroke-width="1.5"
      stroke="#000"
      fill="none"/>
    <% end %>

   <% if @game.stage > 5 %>
    <line
      stroke="#000"
      id="leg_left"
      y2="150"
      x2="40"
      y1="99"
      x1="25"
      stroke-width="1.5"
      fill="none"/>
    <% end %>

   <% if @game.stage > 6 %>
    <line
      id="rope"
      y1="50"
      y2="50"
      x1="0"
      x2="60"
      stroke-width="2"
      stroke="#000"
      fill="none"/>

    <line
      id="eye_rigth_1"
      y1="20"
      y2="25"
      x1="15"
      x2="10"
      stroke-width="1.5"
      stroke="#000"
      fill="none"/>

    <line
      id="eye_rigth_2"
      y1="20"
      y2="25"
      x1="10"
      x2="15"
      stroke-width="1.5"
      stroke="#000"
      fill="none"/>

    <line
      id="eye_left_1"
      y1="20"
      y2="25"
      x1="35"
      x2="30"
      stroke-width="1.5"
      stroke="#000"
      fill="none"/>

    <line
      id="eye_left_2"
      y1="20"
      y2="25"
      x1="30"
      x2="35"
      stroke-width="1.5"
      stroke="#000"
      fill="none"/>

    <line
      id="mouth"
      y1="36"
      y2="36"
      x1="20"
      x2="30"
      stroke-width="1.5"
      stroke="#000"
      fill="none"/>
    <% end %>
   </g>
  </svg>
</div>

<% if @game.lose? %>
  Você perdeu o jogo
<% end %>

<% if @game.win? %>
  Você ganhou
<% end %>

<br /> <br />

<% @game.splitted_word.each do |letter| %>
  <% if @game.guessed? letter %>
    <u>&nbsp;<%= "#{letter}" %>&nbsp;</u>
  <% else %>
    <u>&nbsp; &nbsp;</u>
  <% end %>
<% end %>

<% if @game.letters.present? %>
  <br /><br />

  Letras escolhidas: <br />

  <% @game.guessed.each do |letter| %>
    <button disabled="disabled"><%= letter %></button>
  <% end %>

<% end %>

<br /> <br />

Escolha uma letra: <br />

<% @game.guesses.each do |letter| %>
  <%= button_to letter, game_path(@game, letter: letter), style: 'float: left', method: :patch, disabled: @game.win? %>
<% end %>

<br /><br />

<%= link_to 'Voltar', root_path %>
