<p id="notice"><%= notice %></p>

<p>
  <strong>Chances:</strong>
  <%= @game.chances %>
</p>

<p>
  <strong>Word:</strong>
  <%= @game.word %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
