<p id="notice"><%= notice %></p>

<div style="width: 50px; padding: 20px; height: 150px; float: left; border: 1px solid #ccc; margin-right: 10px; margin-bottom: 200px;">
  <%= image_tag "stage_#{@game.stage}.svg" %>
</div>

<% if @game.lose? %>
  Você perdeu o jogo
<% end %>

<% if @game.win? %>
  Você ganhou
<% end %>

<br />
<br />

<% @game.splitted_word.each do |letter| %>
  <% if @game.guessed? letter %>
    <u>&nbsp;<%= "#{letter}" %>&nbsp;</u>
  <% else %>
    <u>&nbsp; &nbsp;</u>
  <% end %>
<% end %>

<% if @game.letters.present? %>
<br />
<br />

Letras escolhidas:
<br />

<% @game.guessed.each do |letter| %>
  <button disabled="disabled"><%= letter %></button>
<% end %>

<% end %>

<br />
<br />

Escolha uma letra:
<br />

<% @game.guesses.each do |letter| %>
  <%= button_to letter, game_path(@game, letter: letter), style: 'float: left', method: :patch, disabled: @game.win? %>
<% end %>

<br />
<br />

<%= link_to 'Editar', edit_game_path(@game) %> |
<%= link_to 'Voltar', games_path %>
