<div class="warning">
  <% if @game.lose? %> Você perdeu o jogo <% end %>
  <% if @game.win?  %> Você ganhou        <% end %>
  <%= notice %>
</div>

<%= render 'stickman' %>

<br /><br />

<% @game.splitted_word.each do |letter| %>
  <% if @game.guessed? letter %>
    <u>&nbsp;<%= "#{letter}" %>&nbsp;</u>
  <% else %>
    <u>&nbsp; &nbsp;</u>
  <% end %>
<% end %>

<% if @game.letters.present? %>
  <br /><br />

  Letras escolhidas: <br />

  <% @game.guessed.each do |letter| %>
    <button disabled="disabled"><%= letter %></button>
  <% end %>

<% end %>

<br /> <br />

Escolha uma letra: <br />

<% @game.guesses.each do |letter| %>
  <%= button_to letter, game_path(@game, letter: letter), style: 'float: left', method: :patch, disabled: @game.win? %>
<% end %>

<br /><br />

<%= link_to 'Voltar', root_path %>
